{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center">
    <span class="display-4 my-3">{% block title %} Products {% endblock %}</span>
    <a class="btn btn-primary ml-auto position-relative h-100" href="{{ url_for('cart') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-check"
            viewBox="0 0 16 16">
            <path
                d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
            <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        <span class="badge rounded-pill bg-danger">{{ cartLen }}</span>
    </a>
</div>
<form action="/search" method="get" class="row g-3 align-items-center my-3">
    <div class="col-10">
        <input type="text" name="q" placeholder="Search products..." class="form-control">
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<div class="row">
    {% for product in products %}
    <div class="col-5 bg-light p-3 mb-3">

        <a href="{{ url_for('product', id=product['id']) }}">
            <h2>{{ product['name'] }}</h2>
        </a>
        <div class="d-flex">
            <div>
                <p style="
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              ">{{ product['description']}}</p>
                <h4 class="card-text price" style="color:red; display:inline">{{'{:,.2f}'.format(product['price']) }}
                </h4>
            </div>
            <img src="/static/images/{{ product['image']}}.webp" alt=""
                class="ml-auto object-fit-contain border rounded" height="120px" width="120px">
        </div>
        <span class="badge badge-primary">{{ product['created'] }}</span>
        <hr>
    </div>
    <div class="col-1"></div>
    {% endfor %}
</div>
{% endblock %}