{% extends 'base.html' %}

{% block content %}
<div>
    <form action="/buy/" methods="POST">
        <div class="row align-items-center">
            <span class="display-4 my-3">{{product["name"].capitalize()}}</span>
        </div>
        <img src="/static/images/{{product['image']}}.webp" class="my-3 rounded" alt="" />
        <h5 class="card-text">{{product['name']}}</h5>
        <h5 class="card-text">{{product['description']}}</h5>
        <h4 class="card-text price">{{ '{:,.2f}'.format(product["price"]) }}</h4>
        <div class="stepper-input">
            <span class="decrement target">-</span>
            <input class="quantity" name="quantity" value='1' />
            <span class="increment target">+</span>
        </div>
        <input type="hidden" name="id" value="{{product['id']}}" />
        <input type="submit" class="btn btn-primary addToCart" value="Add To Cart" /><br /><br />
        <div class="alert alert-danger flashMessage" style="text-align: center; display:none; font-size:0.9em;"></div>
    </form>
</div>
{% endblock %}